.login-page-neu {
  width: 37rem !important; /* 592px / 16 */
  height: 31.375rem; /* 502px / 16 */
  background-color: #c2e3d8;
  margin-top: 7.5rem; /* 120px / 16 */
  margin-bottom: 7.5rem; /* 120px / 16 */
}

.text-title-login {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem; /* 20px / 16 */
  font-weight: 700;
  margin-top: 2.5rem !important; /* 40px / 16 */
  text-align: center;
}

.input-email,
.input-password {
  width: 31.375rem; /* 502px / 16 */
  height: 2.8125rem; /* 45px / 16 */
  background-color: #ffffff;
  border: 1px solid #ccc;
  margin-bottom: 0.9375rem; /* 15px / 16 */
  margin-left: 2.5rem; /* 40px / 16 */
  padding-left: 0.9375rem; /* 15px / 16 */
  font-size: 1rem; /* 16px / 16 */
  color: #333;
}

.input-email::placeholder,
.input-password::placeholder {
  color: #999;
  opacity: 1;
}

.text-checkbox {
  font-size: 1rem; /* 16px / 16 */
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin-top: 0.625rem !important; /* 10px / 16 */
}

.form-check-input {
  width: 1.5rem !important; /* 1.5em remains */
  height: 1.5rem !important;
  transform: scale(1.5);
  margin-right: 1.25rem !important; /* 20px / 16 */
  margin-left: 2.1875rem !important; /* 35px / 16 */
  margin-top: 0.625rem !important; /* 10px / 16 */
}

.btn-home-einlogen-login {
  color: #000;
  border-color: #36d1b2;
  background-color: #fff;
  height: 3.5rem; /* 56px / 16 */
  width: 15.875rem; /* 254px / 16 */
  font-weight: 500 !important;
  font-size: 1.125rem !important; /* 18px / 16 */
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem; /* 20px / 16 */
  margin-bottom: 3.75rem; /* 60px / 16 */
}

.text-register-loinpage {
  font-family: "Roboto", sans-serif;
  font-size: 1rem; /* 16px / 16 */
  font-weight: 300;
  text-align: center;
  margin-bottom: 0.625rem; /* 10px / 16 */
}

.btn-home-register-loinpage {
  background-color: #36d1b2;
  color: white;
  height: 3.5rem; /* 56px / 16 */
  width: 15.875rem; /* 254px / 16 */
  font-weight: 500 !important;
  font-size: 1.125rem !important; /* 18px / 16 */
}

.forgot-password {
  color: black;
  font-size: 1rem; /* 16px / 16 */
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  margin-top: 0.625rem; /* 10px / 16 */
  display: flex;
  justify-content: flex-end;
  margin-right: 1.875rem; /* 30px / 16 */
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 0.25rem;
  padding: 0.625rem;
  margin-bottom: 0.9375rem; /* 15px / 16 */
  width: 100%;
  text-align: center;
  font-size: 1rem; /* 16px / 16 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-message i {
  margin-right: 0.5rem; /* 8px / 16 */
}
