.bg-register {
    background-color:  #C2E3D8;
    font-size: 10px;
    font-family: "Roboto", sans-serif;
}
.sm-custom-text {
  font-size: 1rem;
}


@media (max-width: 576px) {
  .sm-custom-text {
    font-size: 0.75rem !important;
  }
  .mobile-container {
    width: 100% !important;
    padding: 10px !important;
  }
}
.btn-matte-green {
  background-color: #36d1b2; 
  color: white; 
  border: black; 
  height: 40px;
}

.btn-matte-green:hover {
  background-color: #54BD95; 
}
.input-label {
  font-size: 0.900rem !important; 
  font-weight: bold !important; 
}

.input-field {
  font-size: 0.900rem !important; 
  font-weight: bold !important; 
  padding: 5px 10px !important; 
}
.text-checkbox {
  font-size: 0.875rem !important; 
  
}