.Staatenlosigkeit-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.Staatenlosigkeit-button {
  padding: 0.625rem 1.25rem;
  font-size: 1.25rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  margin-bottom: 1.25rem;
}

.Staatenlosigkeit-button:hover {
  background-color: #0056b3;
}

.Staatenlosigkeit-list {
  width: 100%;
  max-width: 37.5rem;
}

.Staatenlosigkeit-item {
  margin-bottom: 0.9375rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.3125rem;
  padding: 0.625rem;
}

.Staatenlosigkeit-question {
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0.625rem;
  background-color: #f9f9f9;
}

.Staatenlosigkeit-icon {
  margin-right: 0.625rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.Staatenlosigkeit-answer {
  padding: 0.625rem;
  border-top: 0.0625rem solid #ddd;
  background-color: #fff;
}
