
main.flex-grow-1 {
  flex-grow: 1;
}
html, body {
  overflow-x: hidden; 
  min-height: 100vh;
  margin: 0;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  text-align: left;
}
