@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.assessment-page {
    width: 80%;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 0.9375rem; /* 15px / 16 */
}

.assessment-page__steps {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.assessment-page__steps li a {
    text-decoration: none;
    background: rgb(209, 209, 209);
    padding: 0.625rem 1.25rem; /* 10px 20px / 16 */
    border-radius: 1.875rem; /* 30px / 16 */
}

.form-container {
    /* display: flex; */
    justify-content: center;
}

.assessment-form__container {
    margin: 0 auto;
    width: max-content;
}

.assessment-form__container label {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.125rem; /* 18px / 16 */
    flex-direction: column;
}



.assessment-form__inputs {
    display: flex;
    flex-flow: column;
}
